/* Default styles ============= */

body, html {
    height: 100%;
}  
body {
    font-size: $p;
    margin: 0; 
    padding: 0;
    font-weight: normal;
    background-color: $theme-color ;
    font-family: 'FannGrotesquePro-Regular';
}
img {
    max-width: 100%;
} 
.hide {
    display:none;
}
.hidden_class{
    display: none;
}
a:focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
a{
    text-decoration: none;
    color: $black;
}
ul{
    padding:0;
    li{
        list-style: none;
    }
}
sup {
    text-transform: lowercase;
}

.wow {
    visibility: hidden;
}
.image-hidden{
    visibility: hidden;
}

.navbar{
    padding: 0 ($p_7 + 2);
}
.nav-item{
    .nav-link{
        font-weight: 600;
        font-size: $h4;
        font-family: 'FannGrotesquePro-SemiBold';
        line-height: $p_4 - 2;
        letter-spacing: -0.0025em;
        color: $white;
        padding: 0 !important;
    }
    margin: 0 22px;
    &:last-child{
        margin-right: 0;
    }
    &:first-child{
        margin-left: 0;
    }
}
.navbar-collapse{
    flex-grow: unset;
}

  .navbar-toggler {
    position: relative;
    background: transparent;
    border: 0;
    &:focus{
        box-shadow: none !important;
    }
    span {
        height: 2px;
        position: absolute;
        background: transparent;
        top: 2px;
        left: 0;
        width: 100%;
        transition-duration: 0.3s, 0.3s;
        &:before, &:after{
            height: 2px;
            background: $white;
            width: 100%;
            position: absolute;
            content: "";
            left: 0;
            transition-duration: 0.3s, 0.3s;
        }
      }
  }

  .navbar-toggler span:before {
    top: 0;
    transform: rotate(45deg);
  }
  .navbar-toggler span:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .navbar-toggler.collapsed span {
    background-color: $white;
    background-image: none;
  }
  .navbar-toggler.collapsed span:before {
    top: -8px;
    transform: rotate(0);
    background-color: $white;
  }
  .navbar-toggler.collapsed span:after {
    bottom: -8px;
    transform: rotate(0);
    background-color: $white;
  }

  .newsletter{
    margin-top: ($p_12*2);
    .newsletter-container{
        border-radius: $p_4 - 4;
        overflow: hidden;
        background: $lightGreen;
    }
    .form-content{
        width: 536px;
        position: relative;
        
        h2{
            font-weight: 400;
            font-size: $p_6;
            line-height: 115%;
            letter-spacing: -0.05em;
            color: $black;
            font-family: 'FannGrotesquePro-Regular';
            margin-bottom: $p_5 - 2;
        }
        select{
            background-color: #fff;
            background-image: url('/images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            width: 100%;
            font-weight: 500;
            font-size: $h6;
            line-height: 140%;
            color: $camouflageBlue;
            padding-left: $p_4 - 4;
            padding-right: $p_4 - 4;
            border-radius: $p_2 + 2;
            border: 0;
            height: $p_9 - 4;
            appearance: none;
            &:focus{
                outline: none;
            }
        }
        .wpcf7-submit{
            width: $p_12 * 2;
            background: $black;
            border-radius: $p_2 + 2;
            font-weight: 500;
            font-size: $h6;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: $white;
            height: $p_9 - 4;
            padding: 0;
            border: 1px solid transparent;
            justify-content: center;
            transition: 0.4s all ease;
            -webkit-transition: 0.4s all ease;
            -moz-transition: 0.4s all ease;
            &:hover {
              background: transparent;
              border: 1px solid $black;
              color: $black;
              transition: 0.4s all ease;
              -webkit-transition: 0.4s all ease;
              -moz-transition: 0.4s all ease;
            }
        }
        .form-input{
            width: 100%;
            background: $white;
            border-radius: $p_2 + 2;
            border: 0;
            height: $p_9 - 4;
            padding-left: $p_4 - 4;
            font-weight: 500;
            font-size: $h6;
            line-height: 140%;
            color: $camouflageBlue;
            &::placeholder{
                color: $camouflageBlue;
            }
            &:focus{
                outline: none;
            }
        }
    }
    .wpcf7 {
        form{
            &.sent {
                .wpcf7-response-output {
                    text-align: center;
                    border-radius: 10px;
                    font-size: 14px;
                    padding: 10px;
                    max-width: 457px;
                    margin-left: auto;
                    margin-right: auto;
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    z-index: 999;
                    border: none;
                    color: green;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

  }

  .inner-hero-section{
    position: relative;
    &:before{
        content: "";
        height: 50%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70.08%);
        mix-blend-mode: normal; 
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
    }
  }
  .hero-section{
    position: relative;
    &:before{
        content: "";
        height: 50%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70.08%);
        mix-blend-mode: normal; 
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
    }
  }
/* ================== */

.bg-block{
    background-size: cover;
    img{
        visibility: hidden;
    }
}


.wpcf7 form.invalid {
    .wpcf7-response-output{
        border-color: $black;
        text-align: center;
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        max-width: 457px;
        margin-left: auto;
        margin-right: auto; 
    }
}

.wpcf7-not-valid-tip{
    font-size: $p-small;
    padding: 4px 0 0;
} 
.wpcf7-spinner { 
    // width: 30px;
    // height: 22px;
}

.wpcf7{
    form{
        &.sent{
            .wpcf7-response-output{
                text-align: center;
                border-radius: 10px;
                font-size: 14px;
                padding: 10px;
                max-width: 457px;
                margin-left: auto; 
                margin-right: auto; 
            }
        }
    }
}

.intl-tel-input{
    &.allow-dropdown {
        input[type=text]{            
            padding-left: 90px;
        }
        .flag-container{
            left: 26px;
            &:before {
                content: "";
                width: 1px;
                height: 29px;
                background: #D0D0D0;
                position: absolute;
                right: -5px;
                top: 11px;
                z-index: 99;
            }
        }
    }
}
 

.grecaptcha-logo, .grecaptcha-badge{
    display: none;
}

.newsletter-container .wpcf7-spinner{
    position: absolute;
    margin: 0;
    top: 60% !important;
    right: -45px;
    left: inherit !important;
}
form.wpcf7-form {
    position: relative;
}

.form-content .wpcf7-spinner{
    position: absolute;
    top: inherit !important;
    left: 50%; 
}

.newsletter-container .wpcf7-not-valid-tip {
    top: 43px;
}

.no-result {
    font-size: 1.5rem;
    margin: 0;
}