/*Colors*/
$baseColor  : #566070;
$theme-color: #F7F8F8;
$black      : #2C2C2C;
$darkBlack  : #000000;


/* Typography */
$h1 : 24px;
$h2 : 22px;
$h3 : 20px;
$h4 : 18px;
$h5 : 15px;
$h6 : 14px;

$blockquote : 25px;
$p : 16px;
$p-small : 12px;

$p_1 : 4px;
$p_2 : 8px;
$p_3 : 16px;
$p_4 : 24px;
$p_5 : 32px;
$p_6 : 40px;
$p_7 : 48px;
$p_8 : 56px;
$p_9 : 64px;
$p_10 : 72px;
$p_11 : 84px;
$p_12 : 100px;